PG_USERNAME
PG_PASSWORD
CLIENT_ID='818771928668-tuk368d6s823e6971pqd7bssfp7ufjuu.apps.googleusercontent.com'
PORT=3000
SECRET_PASSWORD='Hacktiv-Fit'
JWT_SECRET='Hacktiv-Fit'
NUTRITIONIX_ID=fc9f8472
NUTRITIONIX_KEY=24fee6f304a5e240f03b425f67f99ae7